<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BookDeleteServlet</servlet-name>
  	<display-name>BookDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksAdd</servlet-name>
  	<display-name>BooksAdd</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.BooksAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBooksServlet</servlet-name>
  	<display-name>EditBooksServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.EditBooksServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cartServlet</servlet-name>
  	<display-name>cartServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.cartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBookCart</servlet-name>
  	<display-name>RemoveBookCart</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveBookCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddOldBook</servlet-name>
  	<display-name>AddOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AddOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOldBook</servlet-name>
  	<display-name>DeleteOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBook</servlet-name>
  	<display-name>SearchBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookDeleteServlet</servlet-name>
  	<url-pattern>/BookDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BooksAdd</servlet-name>
  	<url-pattern>/BooksAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditBooksServlet</servlet-name>
  	<url-pattern>/EditBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cartServlet</servlet-name>
  	<url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveBookCart</servlet-name>
  	<url-pattern>/RemoveBookCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddOldBook</servlet-name>
  	<url-pattern>/AddOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOldBook</servlet-name>
  	<url-pattern>/DeleteOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBook</servlet-name>
  	<url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
</web-app>
